@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="jumbotron">
    <h1> ASP.NET Core App running in Azure!</h1>

    <p class="lead">This is a super simple app that was used to demonstrate the ease of publishing<br />
    existing apps to a Subscription Resource waiting in <i>my</i> "Cloud"</p>
</div>
