@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This page details this site's privacy policy:

    <br />

    This site does not ask for any or collect any PI information.

    This site is running on a server under Microsoft's control,
    please read Microsoft's privacy policies for any information on how they will
    protect any information your browser may leave behind.

    <br />
</p>
